.movelogin-Modal {
	display: none;
	position: fixed;
	width: 550px;
	height: auto;
	top: 50%;
	left: 50%;
	background: #fff;
	color: #444;
	transform: translateX(-50%) translateY(-50%);
	z-index: 100000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: optimizeQuality;
	text-rendering: optimizeLegibility
}

.movelogin-Modal-overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 99999
}

.movelogin-Modal-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 16px 0 32px;
	border-bottom: 1px solid #EEE
}

.movelogin-Modal-header>div {
	display: flex
}

.movelogin-Modal-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	padding: 0 32px;
	background: #F5F5F5
}

.movelogin-Modal-close {
	font-size: 0;
	color: #AAA;
	border: none;
	background: none;
	cursor: pointer
}

.movelogin-Modal-close:hover {
	color: #008ec2
}

.movelogin-Modal-close:before {
	font-size: 1.25rem;
	line-height: 1
}

.movelogin-Modal-return {
	display: none;
	border: none;
	background: none;
	cursor: pointer;
	font-size: 0;
	color: #777;
	position: relative;
	width: 28px;
	left: -12px
}

.movelogin-Modal-return.movelogin-isOpen {
	display: inline-block
}

.movelogin-Modal-return:before {
	font-size: 14px;
	display: inline-block
}

.movelogin-Modal-return:hover,
.movelogin-Modal-return:focus {
	outline: none;
	color: #008ec2
}

.movelogin-Modal-cancel {
	color: #0073aa;
	text-decoration: underline;
	margin-left: 8px;
	line-height: 28px;
	border: none;
	background: none;
	cursor: pointer;
	font-weight: 500
}

.movelogin-Modal-cancel:hover {
	color: #008ec2
}

.movelogin-Modal-question {
	display: none
}

.movelogin-Modal-question {
	display: block
}

.movelogin-Modal-content {
	padding: 8px 32px
}

.movelogin-Modal-fieldHidden {
	display: none;
	padding-left: 26px;
	margin-top: 8px
}

.movelogin-Modal-fieldHidden.movelogin-isOpen {
	display: block
}

.movelogin-Modal-fieldHidden input[type=text],
.movelogin-Modal-fieldHidden textarea {
	border: 2px solid #A9ADB0;
	font-size: 12px;
	border-radius: 3px;
	transition: border 150ms ease-out;
	-webkit-transition: border 150ms ease-out
}

.movelogin-Modal-fieldHidden input[type=text]:focus,
.movelogin-Modal-fieldHidden textarea:focus {
	outline: none;
	box-shadow: none;
	border-color: #777
}

.movelogin-Modal-fieldHidden input[type=text]::-webkit-input-placeholder,
.movelogin-Modal-fieldHidden textarea::-webkit-input-placeholder {
	color: #ccc
}

.movelogin-Modal-fieldHidden input[type=text] :-moz-placeholder,
.movelogin-Modal-fieldHidden textarea :-moz-placeholder {
	color: #ccc;
	opacity: 1
}

.movelogin-Modal-fieldHidden input[type=text]::-moz-placeholder,
.movelogin-Modal-fieldHidden textarea::-moz-placeholder {
	color: #ccc;
	opacity: 1
}

.movelogin-Modal-fieldHidden input[type=text] :-ms-input-placeholder,
.movelogin-Modal-fieldHidden textarea :-ms-input-placeholder {
	color: #ccc
}

.movelogin-Modal-fieldHidden input[type=text]::-ms-input-placeholder,
.movelogin-Modal-fieldHidden textarea::-ms-input-placeholder {
	color: #ccc
}

.movelogin-Modal-fieldHidden input[type=text]::placeholder,
.movelogin-Modal-fieldHidden textarea::placeholder {
	color: #ccc
}

.movelogin-Modal-fieldHidden input[type=text] {
	width: 300px;
	height: 30px
}

.movelogin-Modal-fieldHidden textarea {
	width: 100%;
	height: 60px;
	padding: 5px
}

.movelogin-Modal-hidden {
	display: none;
	padding: 0 15px;
}

.movelogin-Modal-hidden button {
	cursor: pointer;
	border: none;
	margin-bottom: 24px
}

.movelogin-Modal-hidden .text-center {
	text-align: center
}

.movelogin-Modal-hidden h3 {
	display: none
}

.movelogin-Modal-hidden a {
	color: #1B9AAA
}

.movelogin-Modal-hidden a:hover {
	color: #0073aa
}

.movelogin-Modal ul li {
	padding: 4px 0
}

.movelogin-Modal h2,
.movelogin-Modal h3 {
	display: inline-block;
	font-size: 1rem;
	line-height: 1.1875
}

.movelogin-Modal h2 {
	max-width: 430px;
	font-weight: 600;
	color: #23282D;
	margin: 12px 0
}

.movelogin-Modal h3 {
	font-weight: bold;
	color: #3D474E;
	margin: 8px 0
}

.movelogin-Modal input[type=radio] {
	margin-top: 1px;
	margin-right: 8px
}

.movelogin-Modal-header{
	background-color: #23282d;
}

.movelogin-Modal-header h2{
	color: #fff;
	font-family: "Arial Narrow";
}

.movelogin-Modal .movelogin-check-help {
	text-align: right;
}

.movelogin-Modal .movelogin-check-help span {
	font-size: 1.3em;
}

html[dir=rtl] .movelogin-Modal-header {
	padding: 0 32px 0 16px
}

html[dir=rtl] .movelogin-Modal-return {
	left: 12px;
	transform: rotate(180deg)
}
