.movelogin-tab-content {
    background: #222831;
    border: 0;
}

body h3.movelogin-settings-section-title {
    color: #4092d2;
}

body #wpbody label.movelogin-setting-row-title {
    font-weight: 400;
    font-size: 16px;
    color: #00a0d2;
}

.movelogin-tab-content-header i {
    background-color: #32373c;
}
.movelogin-tab-content-header {
    background: #37444c;
    padding: 13px 175px 18px 20px;
    border-bottom: 2px solid #393E46;
}

.movelogin-modules-list-links .active i, .movelogin-modules-list-links .active i:before {
    color: #30ceff;
}

.movelogin-modules-list-links i, .movelogin-modules-list-links i:before {
    color: rgba(48, 206, 255, 0.15);
}

.movelogin-modules-list-links .movelogin-tab-name {
    font-size: 14px;
    font-weight: 400;
}

.movelogin-settings-section-header {
    border-bottom: 2px solid #32373c;
}

.movelogin-form-table h4.movelogin-setting-row-title {
    font-weight: 400;
    font-size: 16px;
    color: #00a0d2;
}

.fieldname-login-protection_type .movelogin-fieldset-item-checkboxes {
    border: 2px solid #32373c;
}

.movelogin-setting-row .movelogin-checkbox:not(:checked) + label:after, .movelogin-setting-row .movelogin-checkbox:checked + label:after, .movelogin-setting-row .movelogin-checkbox:not(:checked) + .label-text:after, .movelogin-setting-row .movelogin-checkbox:checked + .label-text:after {
    color: #bbc8d4;
}

.movelogin-setting-row[class*=" depends-"] {
    border-left: 2px solid #000;
    background-color: #37444c;
}

#wpbody .movelogin-pro-row label.movelogin-setting-row-title {
    color: #f56e28;
    font-weight: 400;
}

body #wpbody .movelogin-form-table label.disabled {
    color: #50626f;
}

.movelogin-setting-row .movelogin-checkbox:not(:checked):disabled + label:before, .movelogin-setting-row .movelogin-checkbox:checked:disabled + label:before, .movelogin-setting-row .movelogin-checkbox:not(:checked):disabled + .label-text:before, .movelogin-setting-row .movelogin-checkbox:checked:disabled + .label-text:before, .movelogin-setting-row .movelogin-radio:not(:checked):disabled + label:before, .movelogin-setting-row .movelogin-radio:checked:disabled + label:before, .movelogin-setting-row .movelogin-radio:not(:checked):disabled + .label-text:before, .movelogin-setting-row .movelogin-radio:checked:disabled + .label-text:before {
    border-color: transparent;
}

body #wpbody .movelogin-setting-row.movelogin-pro-row p {
    color: #bbc8d4;
}

.movelogin-get-pro-col p.movelogin-get-pro, .movelogin-cta-pro, .movelogin-setting-content-col .movelogin-get-pro-version, .movelogin-mf-header .movelogin-get-pro-version {
    font-weight: 400;
}

.movelogin-setting-row.movelogin-pro-row a {
    color: #f56e28;
}

[class^="movelogin-"] a, [class*=" movelogin-"] a {
    font-weight: 400;
}

.movelogin-setting-row + .movelogin-setting-row {
    border-top: 2px solid #32373c;
}

.movelogin-setting-row .movelogin-checkbox:not(:checked) + label:before, .movelogin-setting-row .movelogin-checkbox:checked + label:before, .movelogin-setting-row .movelogin-checkbox:not(:checked) + .label-text:before, .movelogin-setting-row .movelogin-checkbox:checked + .label-text:before, .movelogin-setting-row .movelogin-radio:not(:checked) + label:before, .movelogin-setting-row .movelogin-radio:checked + label:before, .movelogin-setting-row .movelogin-radio:not(:checked) + .label-text:before, .movelogin-setting-row .movelogin-radio:checked + .label-text:before {
    background-color: #50626f;
    border-color: #bbc8d4;
}

.movelogin-radio:not(:checked) + label:after, .movelogin-radio:checked + label:after, .movelogin-radio:not(:checked) + .label-text:after, .movelogin-radio:checked + .label-text:after {
    background: #bbc8d4;
}

.movelogin-button-tertiary.movelogin-button-tertiary {
    background: #f56e28;
}

.movelogin-button.movelogin-button, .movelogin-button-primary.movelogin-button-primary, .movelogin-button-secondary.movelogin-button-secondary, .movelogin-button-tertiary.movelogin-button-tertiary {
    background: #4092d2;
    font-weight: 400;
}

.movelogin-button-primary.movelogin-button-primary {
    background: #4092d2;
}

.movelogin-button-primary.movelogin-button-primary:hover, .movelogin-button-primary.movelogin-button-primary:focus {
    background: #2e74aa;
}

.movelogin-bordered {
    border: 2px solid #32373c;
}

.movelogin-ad-header {
    border-bottom: 0;
    background: #191f25;
}

.movelogin-primary.movelogin-primary {
    color: #30ceff;
}

.movelogin-ad-content {
    background: #32373c;
}

.movelogin-button.movelogin-button:hover, .movelogin-button.movelogin-button:focus, .movelogin-button-primary.movelogin-button-primary:hover, .movelogin-button-primary.movelogin-button-primary:focus, .movelogin-button-secondary.movelogin-button-secondary:hover, .movelogin-button-secondary.movelogin-button-secondary:focus, .movelogin-button-tertiary.movelogin-button-tertiary:hover, .movelogin-button-tertiary.movelogin-button-tertiary:focus {
    background: #2e74aa;
}

.movelogin-sideads hr {
    border: 0;
    border-top: 2px solid #32373c;
    border-bottom: 0;
}

.movelogin-files-list-item .movelogin-button-primary.movelogin-button-ghost {
    color: #FFF;
    border: 0;
}

.movelogin-inline-alert:before {
    color: #37444c;
    background: #bbc8d4;
}

.movelogin-schedule-message-field:after {
    color: #00a0d2;
}

.movelogin-schedule-message-field {
    background: #37444c;
}

@media (min-width: 1125px)
.fieldname-schedules-backups_type label:after {
    color: #bbc8d4;
}

@media (min-width: 1125px)
.fieldname-backups-storage_location .movelogin-radio-line label:before, .fieldname-notification-types_types .movelogin-fieldset-item-checkboxes label:before, .fieldname-schedules-backups_type .movelogin-fieldset-item-checkboxes label:before {
    border: 2px solid #000;
    background: #37444c;
}

.movelogin-section-gray, .movelogin-bg-gray {
    background: #23282d;
}

.movelogin-bordered {
    border: 0;
}

.movelogin-scanner-steps .movelogin-current .movelogin-step-name:after {
    border-bottom: 22px solid #bbc8d4;
}

.movelogin-item-details {
    background: #32373c;
}

.movelogin-item-details:before {
    display: none;
}

.movelogin-details-icon .movelogin-icon-i:before {
    border-width: 2px;
    border-color: #00a0d2;
    color: #00a0d2;
    font-weight: 500;
}

.movelogin-link-icon .icon {
    color: #00a0d2;
    overflow: hidden;
}

.movelogin-sgh-actions button {
    color: #00A0C4;
    background: #32373c;
}

.movelogin-sgh-actions .text {
    color: #bbc8d4;
}

.movelogin-sgh-name i, .movelogin-mfh-name i {
    bottom: 0px;
    color: #50626f;
    overflow: hidden;
}

.movelogin-sg-header, .movelogin-mf-header {
    background: #191f25;
    color: #FFF;
}

.movelogin-scans-group {
    background: #37444c;
}

.movelogin-tests .movelogin-item-all + .movelogin-item-all {
    border-top: 2px solid #50626f;
}

.movelogin-scans-group .movelogin-checkbox:not(:checked) + .label-text:before, .movelogin-scans-group .movelogin-checkbox:checked + .label-text:before {
    border-color: #bbc8d4;
}
.movelogin-item-all .movelogin-checkbox:not(:checked) + .label-text:before, .movelogin-item-all .movelogin-checkbox:checked + .label-text:before {
    background: #37444c;
}

.movelogin-step-by-step .step3-advanced-text {
    background: #00a0d2;
}

.movelogin-button.movelogin-button.light {
    background: #00a0d2;
}

.movelogin-button.movelogin-button.light:hover, .movelogin-button.movelogin-button.light:focus {
    background: #2e74aa;
}

body #wpbody p.movelogin-ic-title {
    font-weight: 400;
    color: #00a0d2 !important;
}

.movelogin-status-good {
    color: #00a0d2;
}

body #wpbody p.movelogin-sgh-title {
    color: #00a0d2;
}

.movelogin-is-finish-report .movelogin-step-content-footer {
    border-top: 0;
}

.movelogin-go-farther .movelogin-flex + .movelogin-flex {
    border-top: 2px solid #37444c;
}

.movelogin-go-farther {
    border-top: 5px solid #50626f;
    background: #50626f;
}

.movelogin-is-finish-report .movelogin-step-content-footer {
    border-top: 0;
    background: #32373c;
}

.movelogin-label-with-icon .movelogin-upper {
    font-weight: 400;
    color: #30ceff;
}

.movelogin-label-with-icon i.rounded {
    border-color: #30ceff;
    color: #30ceff;
}

.movelogin-tabs-controls-list a:hover i.rounded, .movelogin-tabs-controls-list a:focus i.rounded, .movelogin-rich-link:hover i.rounded, .movelogin-rich-link:focus i.rounded {
    background: #30ceff;
}

.movelogin-tabs-controls-list a:hover .movelogin-upper, .movelogin-tabs-controls-list a:focus .movelogin-upper, .movelogin-rich-link:hover .movelogin-upper, .movelogin-rich-link:focus .movelogin-upper {
    color: #FFF;
}

.movelogin-blob-icon [class^="movelogin-icon-"]:before {
    color: #30ceff;
}

.movelogin-scanner-steps .movelogin-past:before, .movelogin-scanner-steps .movelogin-current:before {
    border-color: #30ceff;
    color: #30ceff;
}

.movelogin-step-name {
    color: #30ceff;
}

scanner-steps .movelogin-past:before, .movelogin-scanner-steps .movelogin-current:before {
    border-color: #30ceff;
    color: #30ceff;
}

.movelogin-scanner-steps li.movelogin-past:after {
    background: #30ceff;
}

.movelogin-progress-val-txt {
    background: #30ceff;
}

.movelogin-scanned-items {
    color: #30ceff;
}

.movelogin-progress-val-txt:before {
    border-bottom: 4px solid #30ceff;
}

span.movelogin-get-pro-version {
    color: #bbc8d4;
    font-weight: 400;
}

body #wpbody span.movelogin-get-pro-version a {
    color: #f56e28;
}

.movelogin-item-all.movelogin-only-pro:before {
    background: #50626f repeating-linear-gradient(-45deg, #32373c, #32373c 10px, #50626f 10px, #50626f 11px) repeat scroll 0 0;
}

body #wpbody a.movelogin-button-tertiary.movelogin-button-getpro {
    background: #f56e28;
}

body #wpbody a.movelogin-button-tertiary.movelogin-button-getpro:hover {
    background: #ffb900;
}

body #wpbody button.movelogin-button-manual-fixit {
    background: #46b450;
}

body #wpbody button.movelogin-button-manual-fixit:hover {
    background: #98c379;
}

body #wpbody a.movelogin-button.movelogin-button-ignoreit {
    background: #dc3232;
}

body #wpbody a.movelogin-button.movelogin-button-ignoreit:hover {
    background: #f56e28;
}

.movelogin-ic-fix-actions {
    border-top: 3px solid #50626f;
}

.movelogin-mf-content {
    background: #37444c;
}

.movelogin-landscape-blob i:before {
    color: #30ceff;
}

.movelogin-flex.movelogin-wrap.movelogin-pt1.movelogin-pb1.movelogin-pro-advantages {
    background: #37444c;
}

body #wpbody p.movelogin-blob-title {
    color: #30ceff;
}

#movelogin-scan-speed {
    background: #2e74aa;
}

.movelogin-modules-list-links i {
    top: 10px;
}

.movelogin-mfh-name i {
    bottom: -15px;
}

.movelogin-button.shadow {
    box-shadow: none;
}

.movelogin-box-shadow {
    box-shadow: none;
}

.status-good .movelogin-label {
    border-color: #46b450;
    color: #46b450;
    font-weight: 400;
}
.status-good .movelogin-carret {
    background: #46b450;
}

.status-bad .movelogin-label {
    border-color: #dc3232;
    color: #dc3232;
    font-weight: 400;
}
.status-bad .movelogin-carret,
.status-error .movelogin-carret {
    background: #dc3232;
}

.status-warning .movelogin-label {
    border-color: #dc3232;
    color: #dc3232;
    font-weight: 400;
}
.status-warning .movelogin-carret {
    background: #f56e28;
}
.status-notscannedyet .movelogin-label,
.status-cantfix .movelogin-label {
    border-color: #dc3232;
    color: #dc3232;
    font-weight: 400;
}
.status-notscannedyet .movelogin-carret,
.status-cantfix .movelogin-carret {
    background: #50626f;
}
